


.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 80px 0;
}
.parallax {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0;
}
.parallax3 {
    background-image: url(../components/images/MME.jpg);
}

.style2 {
    text-align: center;
}

.flat-promobox.style2 .flat-button {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700}

.flat-promobox .flat-button {
        margin-left: 5px;
        margin-right: 5px;
    }
.flat-button {
        padding: 18px 32px;
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        line-height: 1;
        background:rgb(70, 179, 212);
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        -webkit-transition: all ease .238s;
        -moz-transition: all ease .238s;
        transition: all ease .238s;
    }
.flat-promobox {
    position: relative;
}
div {
    display: block;
}
